<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      Auto
      <img src="/assets/images/icon.png" style="width: 70px; height: 50px;" alt="">
      Dealer
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 50px;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 " style="font-size: larger;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive='active'  routerLink="/add-car">Sell</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom fixed-top">
  <img src="/assets/images/icon.png" style="width: 70px; height: 70px;" alt="">
  <a class="navbar-brand ml-2 font-weight-bold" href="#">AUTODEAL</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor" aria-controls="navbarColor" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
  <div class="collapse navbar-collapse" id="navbarColor">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 " style="font-size: larger;">
          <li class="nav-item"><a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">BUY</a></li>
          <li class="nav-item"><a class="nav-link" routerLinkActive='active'  routerLink="/add-car">SELL</a></li>
      </ul>
  </div>
</nav>
